<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    
    <testsuites>
        <testsuite name="Unit Tests">
            <file>tests/ShippingCalculatorTest.php</file>
        </testsuite>
        
        <testsuite name="Integration Tests">
            <file>tests/CanadaPostIntegrationTest.php</file>
            <file>tests/UPS_IntegrationTest.php</file>
            <file>tests/EndToEndIntegrationTest.php</file>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>
</phpunit>